*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  
  }
  
  html,body{
    font-family: "Open Sans", open-sans, sans-serif;
    background-color: black;
    height:100%;
    width:100%;
  }

  
  
  ul{
    list-style-type:none;
  }
  
  a{
    text-decoration: none;
    color:#333;
  }
  
  h1,h2{
    font-weight: 300;
    line-height:1.2;
    margin:10px 0;
  }
  
  
  .flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
  }
  
  .container{
      
    margin:0 auto;
    overflow:auto;
    padding:0 25px;
  }

  body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background:transparent;
  }
  .body-background{
    background:url(https://images.unsplash.com/photo-1505506874110-6a7a69069a08?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8c3BhY2V8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60);
    object-fit: cover !important;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
    margin:0;
  }
  
  a {
    color: #fff;
  }
  
  /* NAVBAR */
  
  .header img {
        float: left;
        
        height:75px;
  }
  
  
  .header {
    background-color: black;
     box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1); 
    position: fixed;
    width: 100%;
    height:75px;
    z-index: 1;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    
  }
  
  .header li a {
    display: block;
    font-size:1.5vw;
    padding: 25px 20px;
    font-weight: 400;
     border-right: 1px solid #333; 
    text-decoration: none;
    background-color: black;
    color:white;

  }

  
  
  .header li a:hover,
  .header .menu-btn:hover {
      
      border-bottom: 2px solid #fff;
    
  
  }
  
  
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    
    background-color:black;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #fff;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #fff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 270px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  .btn{
    display: inline-block;
    padding:10px 30px;
   cursor: pointer;
    
   color: white;
   
   
   }

 .btn-outline{
 background-color: transparent;
  border: 2px solid white !important;
  font-size:16px;
  
  }
  .btn-outline:hover{
   background-color: white;
   color:black;
   
   transition:0.3s ease-in;
  }



  /* 48em = 768px */
  
  @media (min-width: 48em) {
    .header li {
      float: left;
    }
    
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }
  
  @media (max-width: 700px) {
    
    .header img{
      width:150px;
      vertical-align: middle;
      
  
    }

    .header li a{
      font-size:14px;
    }

    h1,h2,p{
       font-size: 3.5vw !important;
      font-weight: 300;
    }
  
    .box{
      display:block !important;
      
    }
    .box img{
      
      width:300px;
      display:block;
      height:auto !important;
    }
    
    .right , .left,.box-text1,.box-text2{
      
      display:block;
      text-align: center;
    }

    .grid-3, .grid,.box{
      grid-template-columns: 1fr !important;
         grid-template-rows: 1fr !important;
    }

    .card{
      height:auto !important;
    }

    .team,.hq,.contact-us{
      margin:0px !important;
    }

    .btn-outline{
      font-size:2vw !important;
    }
    .item h3{
      font-size:2vw !important;
    }
    .simu-video{
      height:auto !important;
      width:100%;
    }
    .overlay p{
      display: none;
    }
    .overlay{
      top:10% !important;
    }

  }


  /* main */
  


.card{
    
    border-radius:10px;
    box-shadow:0 3px 10px rgba(0,0,0,0.2);
    
    color:white;
}

.grid{
        display:grid;
        background: transparent;
        grid-template-columns:1fr;
        gap:25px;
        justify-content: center;
        align-items: center;
        height:100%;
}
.grid-3{
  grid-template-columns: repeat(3 ,1fr);
}

.card{
  height:300px;
  position:relative;
}


.card img{
  width:100%;
  object-fit: cover;
  height:100%;
  opacity:0.8;
}


.body-container{
  margin:0px 30px 30px 30px;
  color:white;
  background:transparent;
  padding:15px;
  border-radius:10px;
  box-shadow:0 3px 10px rgba(0,0,0,0.2);
}

.sm{
  font-size: 1.5rem;
}
.md{
  font-size: 2rem;
}
.lg{
  font-size: 3rem;
}
.xl{
  font-size: 4rem;
}

.box{
  display: flex;
  background:transparent;
  
}

.box img{
  height:300px;
}


.box-text1{
  font-size: 1.5rem;
  padding:15px;
}
.box-text2{
  font-size: 1.5rem;
  padding:15px;
}


.text-over-img{
  position:absolute;
  bottom:15px;
  left:15px;
}



.card img.image-hover {
position: absolute;
top: 0;
right: 0;
left: 0;
bottom: 0;
height:300px;
overflow:hidden;
object-fit: cover;
opacity: 0;
transition: opacity .2s;
}
.card:hover img.image-hover {
opacity: 1;
height:300px;

overflow:hidden;
object-fit: cover !important;
}
.simu-video{
  position:relative;
  top:0;
  left:0;
   
  width:100%;
  height:600px;
  margin-top:30px;
}

.simu-video video{
  position: relative;
  z-index:0;
}

.overlay{
  position: absolute;
  top:20%;
  left:10%;
  right:50%;
  align-items: center;
  justify-content:left ;
  z-index: 1;
  padding:10px;


}
.overlay-text{
  color:white;
  text-align: center;
  mix-blend-mode: overlay;
}



/* footer */

.footer{
  background-color: rgb(31, 31, 31);
  color:#fff;
}

.contact-us input[type='email']{

  border:0;
  border-bottom: 1px solid #919192;
  width:100%;
  padding:3px;
  border-radius: 5px;
   margin:15px 0px;
  }

  .contact-us{
    margin:30px;
    padding:15px;
  }

  .team{
    text-align:center;
    margin:30px;
    padding:15px;

  }
  .team h5{
    color:rgb(168, 168, 168);
  }

  .hq{
    padding:15px;margin:15px 0px;
    text-align: center;
  }

  .last{
    text-align:center;
    
    padding:30px;
    background-color: black;
    color:rgb(107, 107, 107);
    align-items: center;
    vertical-align: middle;
  }
  .last i{
    padding:15px;
    align-items: center;
    vertical-align: middle;
    font-size:24px;
  }